.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
.idea/*
*.iml
*.apk
*.idea
/facebook/build
libraryproject/build/
ambilWarna/build/
androidffmpeglibrary/build/
gen
out
bin
*.ipr
*.iws
target
tmp
~apklib*
gen-external-apklibs
.classpath
.project
atlassian-ide-plugin.xml